<h1>Custom RxJS Operators and Unit Test (Multiplying by 10 and Dividing by 2)</h1>
<div class="container">
  <span class="values">
    <h4>Original Value</h4>
    @for(value of valueBefore; track $index) {
      <p>{{ value }}</p>
    }
  </span>
  <span class="mul-value">
    <h4>Multiplied Value (×10)</h4>
    @for(value of valueAfterMultiply; track $index) {
      <p>{{ value }}</p>
    }
  </span>
  <span class="div-value">
    <h4>Divided Value (÷2)</h4>
    @for(value of valueAfterDivide; track $index) {
      <p>{{ value }}</p>
    }
  </span>
</div>